.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.icon {
  text-align: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  p {
    margin-top: 10px;
    font-size: 1rem;
    color: var(--text-dark);
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  color: var(--green-primary);
}

// Adjust layout for smaller screens
@media (max-width: 768px) {
  .icons-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .icon {
    padding: 10px;
  }
}