.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  color: rgb(25, 135, 84) !important;
  text-decoration: none;
}

.fa-bounce {
  animation: fa-bounce 0.5s;
  animation-timing-function: ease-in-out;
}

.carousel-inner {
  width: 80%!important;
  margin: 0 auto;
}

@media (max-width: 768px){
  .carousel-inner {
    width: 100%!important;
  }
}

.icons-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .icons-wrapper .icon {
    flex-basis: 50%;
  }
}

.icon{
  flex: 100%
}

@media (max-width: 1200px){
  .icon{
    flex: 50%;
  }
  .icons-wrapper{
    flex-wrap: wrap;
  }
}